In [3]:
import pandas as pd

In [4]:
league_table=pd.read_csv('TEAMS.csv')
goalscorers=pd.read_csv('Goalscorers.csv')
assists=pd.read_csv('Assists.csv')
cleansheets=pd.read_csv('Cleansheets.csv')

In [5]:
from pandas import DataFrame

In [6]:
teams=list(league_table['TEAM'])
played=list(league_table['P'])
won=list(league_table['W'])
draw=list(league_table['D'])
lost=list(league_table['L'])
gs=list(league_table['GS'])
gc=list(league_table['GC'])
gd=list(league_table['GD'])
points=list(league_table['pts'])

In [7]:
player=list(goalscorers['Player'])
goals=list(goalscorers['Goals'])
team=list(goalscorers['Team'])

In [8]:
playm=list(assists['Playmaker'])
ast=list(assists['Assists'])
tm1=list(assists['Team'])

In [9]:
keep=list(cleansheets['Keeper'])
cs=list(cleansheets['Clean Sheets'])
tm2=list(cleansheets['Team'])

In [10]:
#MATCH
games_played=int(input("HOW MANY GAMES PLAYED THIS MATCHWEEK? "))
for match in range(games_played):
    ht=input("HOME TEAM: ")
    print("GOAL SCORED BY",ht,": ")
    gh=int(input())
    at=input("AWAY TEAM: ")
    print("GOAL SCORED BY",at,": ")
    ga=int(input())
    for t in range(len(teams)):
        if(ht in teams):
            ind_home=teams.index(ht)
            ind_away=teams.index(at)
    
    played[ind_home]=played[ind_home]+1
    played[ind_away]=played[ind_away]+1
    gs[ind_home]=gs[ind_home]+gh
    gc[ind_home]=gc[ind_home]+ga
    gs[ind_away]=gs[ind_away]+ga
    gc[ind_away]=gc[ind_away]+gh
    gd[ind_home]=gs[ind_home]-gc[ind_home]
    gd[ind_away]=gs[ind_away]-gc[ind_away]
    
    
    if(gh>ga):
        points[ind_home]=points[ind_home]+3
        points[ind_away]=points[ind_away]+0
        won[ind_home]=won[ind_home]+1
        lost[ind_away]=lost[ind_away]+1
        
    if(ga>gh):
        points[ind_away]=points[ind_away]+3
        points[ind_home]=points[ind_home]+0
        won[ind_away]=won[ind_away]+1
        lost[ind_home]=lost[ind_home]+1
        
    if(gh==ga):
        points[ind_home]=points[ind_home]+1
        points[ind_away]=points[ind_away]+1
        draw[ind_home]=draw[ind_home]+1
        draw[ind_away]=draw[ind_away]+1

HOW MANY GAMES PLAYED THIS MATCHWEEK? 1
HOME TEAM: SPURS
GOAL SCORED BY SPURS :
3
AWAY TEAM: UNITED
GOAL SCORED BY UNITED :
4

In [11]:
#GOALSCORERS, ASSISTS, CLEANSHEETS
#lgs=len(goalscorers)
#las=len(assists)
#lcs=len(cleansheets)
while(True):
    gsc=input("GOALSCORER: ")
    if(gsc=="X"):
        break
    scored=int(input("NUMBER OF GOALS: "))
    tm=input("TEAM: ")
    #for g in range(lgs):
    if gsc not in player:
        player.append(gsc)
        goals.append(0)
        team.append("A")
    
    if gsc in player:
        player_ind=player.index(gsc)
        goals[player_ind]=goals[player_ind]+scored
        team[player_ind]=tm

print("\n")
print("ASSISTS")
while(True):
    pm=input("ASSIST MAN: ")
    if(pm=="X"):
        break
    assisted=int(input("NUMBER OF ASSISTS: "))
    tmp=input("TEAM: ")
    #for p in range(las):
    if pm not in playm:
        playm.append(pm)
        ast.append(0)
        tm1.append("B")
        #las+=1
    if pm in playm:
        playm_ind=playm.index(pm)
        ast[playm_ind]=ast[playm_ind]+assisted
        tm1[playm_ind]=tmp
            
print("\n")
print("CLEAN SHEETS")
while(True):
    cls=input("KEEPER: ")
    if(cls=="X"):
        break
    css=int(input("NUMBER OF CLEANSHEETS: "))
    tmc=input("TEAM: ")
    #for c in range(lcs):
    if cls not in keep:
        keep.append(cls)
        cs.append(0)
        tm2.append("C")
        keep_ind=keep.index(cls)
        cs[keep_ind]=cs[keep_ind]+css
        tm2[keep_ind]=tmc
        #lcs+=1
    elif cls in keep:
        keep_ind=keep.index(cls)
        cs[keep_ind]=cs[keep_ind]+css
        tm2[keep_ind]=tmc

GOALSCORER: Wanyama
NUMBER OF GOALS: 1
TEAM: SPURS
GOALSCORER: Dier
NUMBER OF GOALS: 1
TEAM: SPURS
GOALSCORER: Alli
NUMBER OF GOALS: 1
TEAM: SPURS
GOALSCORER: Lingard
NUMBER OF GOALS: 2
TEAM: UNITED
GOALSCORER: Pogba
NUMBER OF GOALS: 1
TEAM: UNITED
GOALSCORER: D. James
NUMBER OF GOALS: 1
TEAM: UNITED
GOALSCORER: X


ASSISTS
ASSIST MAN: Greenwood
NUMBER OF ASSISTS: 1
TEAM: UNITED
ASSIST MAN: Darmian
NUMBER OF ASSISTS: 1
TEAM: UNITED
ASSIST MAN: Rose
NUMBER OF ASSISTS: 1
TEAM: SPURS
ASSIST MAN: X


CLEAN SHEETS
KEEPER: X

In [12]:
fin={'TEAM': teams,
     'P': played,
     'W': won,
     'D': draw,
     'L': lost,
     'GS': gs,
     'GC': gc,
     'GD': gd,
     'pts': points
    }

goalscore={'Player': player,
     'Goals': goals,
     'Team': team
    }

asst={'Playmaker': playm,
     'Assists': ast,
     'Team': tm1
    }

cleans={'Keeper': keep,
     'Clean Sheets': cs,
     'Team': tm2
    }

In [13]:
df = DataFrame(fin, columns= ['TEAM','P','W','D','L','GS','GC','GD','pts'])
df1 = DataFrame(goalscore, columns= ['Player', 'Goals', 'Team'])
df2 = DataFrame(asst, columns= ['Playmaker', 'Assists', 'Team'])
df3 = DataFrame(cleans, columns= ['Keeper', 'Clean Sheets', 'Team'])

In [14]:
df.index +=1
df1.index +=1
df2.index +=1
df3.index +=1

In [15]:
a=df.sort_values(by=['pts', 'GD', 'GS'], inplace=False, ascending=False)
b=df1.sort_values(by=['Goals'], inplace=False, ascending=False)
c=df2.sort_values(by=['Assists'], inplace=False, ascending=False)
d=df3.sort_values(by=['Clean Sheets', 'Keeper'], inplace=False, ascending=False)

In [16]:
a

        TEAM   P  W  D  L  GS  GC  GD  pts
1     UNITED  12  9  1  2  32  18  14   28
2      SPURS  12  7  2  3  33  23  10   23
3       CITY  12  5  3  4  27  20   7   18
4  LIVERPOOL  12  5  2  5  21  24  -3   17
5    ARSENAL  12  4  2  6  24  26  -2   14
6    CHELSEA  12  3  2  7  23  35 -12   11
7     WOLVES  12  3  0  9  15  29 -14    9

In [17]:
b

              Player  Goals       Team
1               Kane     15      SPURS
2             Aguero     10       CITY
3             Giroud      9    CHELSEA
4          Lacazette      9    ARSENAL
5              Xhaka      7    ARSENAL
6            Martial      6     UNITED
7           Rashford      6     UNITED
9            Wanyama      6      SPURS
11             Salah      5  LIVERPOOL
12           Eriksen      5      SPURS
16          D. James      5     UNITED
10             Silva      5       CITY
8               Raul      5     WOLVES
13         Wijnaldum      4  LIVERPOOL
17             Pedro      4    CHELSEA
15           Firmino      4  LIVERPOOL
14          Sterling      4       CITY
18              Sane      3       CITY
19        Aubameyang      3    ARSENAL
20              Ozil      3    ARSENAL
22         Greenwood      3     UNITED
25             Pogba      3     UNITED
21          Moutinho      3     WOLVES
30             Adama      2     WOLVES
46              Alli      2      SPURS
34           Doherty      2     WOLVES
33             Kante      2    CHELSEA
32      Loftus-Cheek      2    CHELSEA
31             Jesus      2       CITY
29              Mane      2  LIVERPOOL
28               Son      2      SPURS
27         De Bruyne      2       CITY
23            Milner      2  LIVERPOOL
57           Lingard      2     UNITED
26             Neves      2     WOLVES
24             Keita      2  LIVERPOOL
47              Mata      1     UNITED
56              Dier      1      SPURS
55           Pulisic      1    CHELSEA
54         McTominay      1     UNITED
53        David Luiz      1    ARSENAL
52       Wan-Bissaka      1     UNITED
51  Alexander-Arnold      1  LIVERPOOL
50            Alonso      1    CHELSEA
49            Alexis      1     UNITED
48           Maguire      1     UNITED
35      Alderweireld      1      SPURS
36             Lucas      1      SPURS
45    Bernardo Silva      1       CITY
43           Shaqiri      1  LIVERPOOL
42          Jorginho      1    CHELSEA
41         Kolasinac      1    ARSENAL
40           Abraham      1    CHELSEA
39             Matic      1     UNITED
38       Azpilicueta      1    CHELSEA
37              Jota      1     WOLVES
44           Andreas      1     UNITED

In [18]:
c

           Playmaker  Assists       Team
1               Alli        9      SPURS
2              Pedro        5    CHELSEA
3               Jota        4     WOLVES
4               Sane        4       CITY
5              Lucas        4      SPURS
6          De Bruyne        4       CITY
7            Martial        4     UNITED
8           D. James        4     UNITED
9              Silva        4       CITY
10             Salah        4  LIVERPOOL
14            Aguero        3       CITY
16           Eriksen        3      SPURS
15           Pulisic        3    CHELSEA
11        Aubameyang        3    ARSENAL
13          Rashford        3     UNITED
12              Ozil        3    ARSENAl
50         Greenwood        2     UNITED
22            Milner        2  LIVERPOOL
24           Firmino        2  LIVERPOOL
23            Giroud        2    CHELSEA
21          Ceballos        2    ARSENAL
17            Walker        2       CITY
19          Moutinho        2     WOLVES
18         Lacazette        2    ARSENAL
20             Neves        2     WOLVES
42              Kane        1      SPURS
44              Mane        1  LIVERPOOL
45            Alexis        1     UNITED
46         Robertson        1  LIVERPOOL
47              Shaw        1     UNITED
48         McTominay        1     UNITED
49              Otto        1     WOLVES
52             Matic        1     UNITED
51             James        1     UNITED
53          Sterling        1       CITY
54              Pepe        1    ARSENAL
55          Ndombele        1      SPURS
56         Cavaliero        1     WOLVES
57              Mata        1     UNITED
59           Darmian        1     UNITED
43           Tierney        1    ARSENAL
31      Loftus-Cheek        1    CHELSEA
41         Henderson        1  LIVERPOOL
40          Jorginho        1    CHELSEA
25             Kante        1    CHELSEA
26           Wanyama        1      SPURS
27  Alexander-Arnold        1  LIVERPOOL
28           Fabinho        1  LIVERPOOL
29             Xhaka        1    ARSENAL
30       Azpilicueta        1    CHELSEA
32          Lindelof        1     UNITED
33            Lamela        1      SPURS
34           Shaqiri        1  LIVERPOOL
35        Mkhitaryan        1    ARSENAL
36             Jesus        1       CITY
37             Keita        1  LIVERPOOL
38           Willian        1    CHELSEA
39        David Luiz        1    ARSENAL
60              Rose        1      SPURS
58               Son        0      SPURS

In [21]:
d

     Keeper  Clean Sheets       Team
1  Patricio             2     WOLVES
2    De Gea             2     UNITED
3   Allison             2  LIVERPOOL
4    Lloris             1      SPURS
5      Leno             1    ARSENAL
6      Kepa             1    CHELSEA
7   Ederson             1       CITY

In [22]:
a.to_csv('TEAMS.csv')
b.to_csv('Goalscorers.csv')
c.to_csv('Assists.csv')
d.to_csv('Cleansheets.csv')